#top
    h1= title

#main
    h2 Start a Kynde Today

#footer

#articles
    - each article in articles
      div.article
        div.created_at= article.created_at
        div.title 
            a(href="/blog/"+article._id)!= article.title
        div.body= article.body