div#top
    h1= title
    
div#main
    form( method="post")
        label To
        input(type="text", name="Email", id="to")
        label Your Kynde
        textarea( name="body", rows=10, id="kynde")
        input(type="submit", name="Send", value="Send", id="to")
    