div#top
    h1= title
    
div#main
    form( method="post", action="/kynde")
        label To
        input(type="text", name="email", id="email")
        label Your Kynde
        textarea( name="message", rows=10, id="message")
        input(type="submit", name="Send", value="Send")
    