@charset "utf-8";
* {
  margin: 0px;
  padding: 0px;
}
body {
  background: url("/images/bg.jpg") repeat;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #666;
}
.clear {
  clear: both;
}
#wrap {
  background: url("/images/wrapbg.jpg") repeat-y;
  width: 927px;
  margin: 25px auto 25px auto;
}
#wrap #header #sitename {
  color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 58px;
  font-weight: normal;
  display: block;
  padding-top: 140px;
  text-align: right;
  padding-right: 50px;
}
#sitename a,
#sitename a:visited,
#sitename a:active {
  color: #fff;
  text-decoration: none;
}
#sitename a:hover {
  color: #ffc;
  text-decoration: none;
}
#header {
  background: url("/images/header.jpg") no-repeat;
  height: 341px;
}
#page {
  padding: 0px 10px 0px 10px;
}
#page #menu {
  float: left;
  background: url("/images/sidemenu.jpg") no-repeat;
  width: 269px;
  height: 382px;
}
#page #content {
  margin: 0px 0px 0px 275px;
  padding: 0px 20px 0px 5px;
}
#content p {
  line-height: 22px;
  margin: 0px 0px 25px 0px;
}
#content h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: 26px;
  color: #660;
  display: block;
  margin-bottom: 20px;
}
#content a {
  color: #990;
}
#content a:visited {
  color: #666;
}
#content a:active {
  color: #9c0;
}
#content a:hover {
  color: #000;
  text-decoration: none;
}
#content h2 .seo {
  display: block;
  text-align: right;
  font-size: 10px;
  color: #999;
  background: #efefef;
  padding: 3px;
}
#content blockquote {
  display: block;
  padding: 5px;
  margin: 10px;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #960;
  background: #f8fdba;
  border-top: dashed 1px #666;
  border-bottom: dashed 1px #666;
}
#content blockquote p {
  margin: 0px;
}
#content blockquote cite {
  color: #000;
  display: block;
  text-align: right;
  padding: 5px;
  border-top: solid 1px #f3ecbe;
}
#content img {
  background: #efefef;
  margin: 5px;
  padding: 5px;
  border: solid 1px #999;
}
#content .alignleft {
  float: left;
}
#content .alignright {
  float: right;
}
#content .postmetadata {
  display: block;
  padding: 3px;
  background: #e3edaf;
}
#content h1,
#content h3,
#content h4,
#content h5,
#content h6 {
  color: #660;
}
#content ul {
  list-style: square;
  padding: 5px;
  margin: 10px 10px 10px 20px;
}
#content li {
  padding: 5px;
  margin-bottom: 10px;
}
#content ol {
  padding: 5px;
  margin: 10px 10px 10px 20px;
}
#browse {
  background: url("/images/postbottombg.jpg") no-repeat;
  padding: 40px 5px 10px 5px;
}
#browse .subhead {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  padding-left: 25px;
  font-size: 26px;
  color: #660;
  display: block;
  margin-bottom: 35px;
}
#browse .categoryhead {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: normal;
  padding: 5px;
  font-size: 22px;
  color: #660;
  display: block;
  border-bottom: solid 1px #fff;
}
#browse ul {
  list-style: none;
}
#browse li {
  display: block;
  height: 25px;
  border-top: solid 1px #fefefc;
}
#browse li {
  border-top: solid 1px #ebe6b4;
}
#browse ul a {
  display: block;
  height: 20px;
  padding: 5px 5px 0px 5px;
  text-decoration: none;
  color: #000;
}
#browse a:visited,
active {
  display: block;
  height: 20px;
  padding: 5px 5px 0px 5px;
  text-decoration: none;
  color: #000;
  border-bottom: solid 1px #d7c479;
}
#browse a:hover {
  background: #fff;
  color: #000;
}
.browsecat {
  float: left;
  width: 30%;
  padding: 5px 6px 8px 6px;
  margin-left: 10px;
  border: solid 1px #f3ecbe;
  background: #fbfaf0;
}
#menu h2 {
  display: block;
  color: #660;
  border-bottom: solid 1px #dfcd95;
  padding: 5px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 22px;
  font-weight: normal;
}
#wrap #page #menu #sidemenu {
  padding: 65px 45px 0px 40px;
  display: block;
}
#sidemenu ul {
  display: block;
  list-style: none;
}
#sidemenu li {
  display: block;
  height: 26px;
  border-top: solid 1px #fff;
}
#sidemenu a,
#sidemenu a:visited,
#sidemenu a:active {
  display: block;
  height: 20px;
  padding: 5px 5px 0px 5px;
  color: #666;
  text-decoration: none;
  border-bottom: solid 1px #dfcd95;
}
#sidemenu a:hover {
  background: #ffc;
}
#sidemenu .active a,
#sidemenu .active a:visited,
#sidemenu .active a:active,
#sidemenu .active a:hover {
  background: #ffc;
}
#footer {
  background: url("/images/footer.jpg") no-repeat;
  background-position: bottom;
  height: 100px;
  text-align: center;
}
#footercontent {
  margin: 15px;
  border-top: solid 1px #ebe6b4;
  padding-top: 15px;
}
#footer a,
#footer a:visited,
#footer a:active {
  color: #963;
  text-decoration: none;
}
#footer #credit {
  font-size: 10px;
}
.textfield {
  display: block;
  float: left;
  width: 65%;
  background-color: #f3f4e8;
  margin: 3px 3px 3px 30px;
  padding: 3px;
  border: 1px solid #d6d9ae;
  clear: right;
}
label {
  display: block;
  float: left;
  text-align: right;
  font-weight: bold;
  width: 20%;
  margin: 3px;
  padding: 5px;
}
.button {
  display: block;
  padding: 0px;
  background-color: #e3e6c8;
  margin: 3px;
  border: 2px solid #efefef;
  color: #000;
}
.textfield:hover {
  background: #fbfcf8;
}
.textfield:focus {
  background: #fff;
}
#content .clear2 {
  clear: right;
  width: 90%;
}
.hide {
  display: none;
}
#content table {
  margin: 10px;
  width: 500px;
  border: solid 1px #bddb99;
}
#content th {
  background: #dfedcd;
  padding: 5px 15px 5px 15px;
  color: #993;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #bddb99;
}
#content td {
  border-bottom: 1px solid #dfedcd;
  padding: 5px 15px 5px 15px;
  border-right: 1px solid #dfedcd;
}
